<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Json_file_path" value="{START_UP_PATH}\Save\Default\Default.json" />
    <add key="Save_directory_path" value="{START_UP_PATH}\Save" />

    <add key="Random_number_seed_count" value="10" />
    <add key="Seed_01" value="ASDF" />
    <add key="Seed_02" value="ABCD" />
    <add key="Seed_03" value="1234" />
    <add key="Seed_04" value="0123" />
    <add key="Seed_05" value="1W4J" />
    <add key="Seed_06" value="MIRU" />
    <add key="Seed_07" value="9A23" />
    <add key="Seed_08" value="1U2*" />
    <add key="Seed_09" value="$s^j" />
    <add key="Seed_10" value="8J0\" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>