<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="MaxCharacter" value="12" />
    <add key="ImageRootPath" value="{START_UP_PATH}\Image" />
    <add key="CharacterImage1" value="Character_Image1.png" />
    <add key="CharacterImage2" value="Character_Image2.png" />
    <add key="CharacterImage3" value="Character_Image3.png" />
    <add key="CharacterImage4" value="Character_Image4.png" />
    <add key="CharacterImage5" value="Character_Image5.png" />
    <add key="CharacterImage6" value="Character_Image6.png" />
    <add key="CharacterImage7" value="Character_Image7.png" />
    <add key="CharacterImage8" value="Character_Image8.png" />
    <add key="CharacterImage9" value="Character_Image9.png" />
    <add key="CharacterImage10" value="Character_Image10.png" />
    <add key="CharacterImage11" value="Character_Image11.png" />
    <add key="CharacterImage12" value="Character_Image12.png" />
    <add key="MaxRandomNumberKey" value="10" />
    <add key="RandomNumberSeed1" value="ASDF" />
    <add key="RandomNumberSeed2" value="ABCD" />
    <add key="RandomNumberSeed3" value="1234" />
    <add key="RandomNumberSeed4" value="0123" />
    <add key="RandomNumberSeed5" value="1W4J" />
    <add key="RandomNumberSeed6" value="MIRU" />
    <add key="RandomNumberSeed7" value="9A23" />
    <add key="RandomNumberSeed8" value="1U2*" />
    <add key="RandomNumberSeed9" value="$s^j" />
    <add key="RandomNumberSeed10" value="8J0\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>